.add-task {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 100%;
    height: calc(100% - 40px);
    padding: 20px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 15%;
}

.title h2 {
    margin: 0;
}

.title p {
    color: #1C2D92;
}

.form-container {
    background-color: #FFFFFF;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
    font-weight: bold;
    width: calc(100% - 40px);
    padding: 0 20px;
}

.form {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title,
.form-date {
    color: #1C2D92;
}

.input-inner {
    outline: none;
    border: 1px solid hsl(0, 3%, 82%);
    text-indent: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


/* input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    background-image: url('../img/icons8-calendar-150.png');
    opacity: 0.6;
    filter: invert(0.8);
    width: 25px;
    height: 25px;
    /* border-left: 12px solid red; 

border-width: thick;

}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1
}
*/

select {
    outline: none;
    border: 1px solid hsl(0, 3%, 82%);
    text-indent: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* -webkit-appearance: none; */
    width: 556px;
    height: 50px;
    border-radius: 5px;
}

.select2 {
    width: 553px !important;
}

.input-top-m {
    margin: 20px 0;
}

.input-width {
    height: 50px;
    width: 550px;
    border-radius: 5px;
}

.pic-and-btn {
    justify-content: space-between;
}

.txtarea-and-pic {}

textarea {
    font-family: 'Open Sans', sans-serif;
    height: 200px !important;
    resize: none;
    margin-top: 20px;
}

textarea::-webkit-scrollbar {
    display: none;
}

.m-right-50 {
    margin-right: 50px;
}

.dflex-col {
    display: flex;
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.assignedto-pic {
    align-items: center;
    border-radius: 5px;
    height: 130px;
}

.images {
    display: flex;
    align-items: center;
    padding: 10px;
}

.profile-img {
    width: 60px;
}

.plus-img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: #D8D8D8;
    border-radius: 100%;
}

.employee {
    background-color: green;
    padding: 20px;
}

.avatar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    height: 100px;
}

.avatar {
    width: 60px;
    height: 60px;
    opacity: 0.8;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
    border: 5px solid transparent;
}

.avatar:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: all 225ms ease-in-out;
    border-color: #1C2D92;
}

.avatar-selected {
    opacity: 1;
    border-color: #1C2D92;
}

.btns {
    display: flex;
    justify-content: flex-end;
    gap: 1%;
}

.btns button {
    color: #1C2D92;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold !important;
    height: 50px !important;
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media(max-width: 1300px) {
    .input-width {
        width: 450px;
    }
    select {
        width: 456px;
    }
    .select2 {
        width: 453px !important;
    }
}

@media(max-width: 1040px) {
    .input-width {
        width: 370px;
    }
    select {
        width: 376px;
    }
    .select2 {
        width: 373px !important;
    }
    .avatar {
        width: 40px;
        height: 40px;
    }
}

@media(max-width: 880px) {
    .input-width {
        height: 35px;
        width: 300px;
    }
    select {
        height: 35px;
        width: 306px;
    }
    .select2 {
        height: 35px;
        width: 303px !important;
    }
    .input-top-m {
        margin: 10px 0;
    }
    .btns button {
        height: 30px !important;
    }
    textarea {
        height: 150px !important;
        margin-top: 10px;
    }
    .assignedto-pic {
        height: 100px;
    }
    .avatar-container {
        height: 70px;
    }
}

@media(max-width: 740px) {
    .d-flex {
        display: flex;
        flex-direction: column;
    }
    .title h2 {
        font-size: 35px;
    }
    textarea {
        height: 100px !important;
    }
    .assignedto-pic {
        height: 70px;
    }
    .avatar-container {
        height: 70px;
    }
    .avatar {
        width: 35px;
        height: 35px;
    }
    .pic-and-btn {
        margin: 10px 0 0 0 !important;
    }
    .m-right-50 {
        margin-right: 0;
    }
    .add-task {
        height: fit-content;
    }
    .form-container {
        /* height: auto; */
        padding-top: 20px;
    }
    .btns {
        margin-top: 10px;
    }
    .btns button {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .form-container,
    .title,
    .form {
        overflow-x: hidden;
    } */
}